{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/announcement.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'home/img/icon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The Code Builder</title>
</head>
<body>
	<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
    </div>
	<div class="container" style = "padding: 0px">

		<!--NAV BAR-->
		<nav class="main-nav">
			<a href = "{% url 'home' %}"><img src="{% static 'home/img/title.png' %}" alt="Microsoft" class="logo"></a>
			{% if user.is_authenticated %}
			<ul class="right-menu" style="margin-top: 1rem">
				<li><a href="{% url 'announcements' %}" style = "color: #262626; text-decoration: none"><i class="fas fa-bell"></i> Announcements </a></li>
				<li><a href="{% url 'profile' %}" style = "color: #262626; text-decoration: none"><i class="fas fa-user"></i> {{user.username}} </a></li>
				<li style="cursor: pointer;">
				<form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" style="border: none; padding: 0px; background-color: white; outline: none;"><i class="fas fa-sign-out-alt"></i> Logout </button>
                </form>
            	</li>
			</ul>
			{% endif %}
			{% if messages %}
				<div role="alert" style="padding: 1rem 1rem 0; background-color: #90EE90; border-radius: 2rem;">
                <strong style="color: green; vertical-align: middle;">
				<ul class="messages">
			    {% for message in messages %}
			    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
				</ul>
					</strong>
           		 </div>
			{% endif %}
		</nav>

{% block content %} {% endblock %}

	  <br>
	  <hr>
      <!--Follow-->
      <section class="follow" style = "float: right;">
      	<p>
		  	<a href="{% url 'contact-us' %}" style='margin-left: 1rem; text-decoration: none'>
              <i class="fa fa-phone" aria-hidden="true"></i>Contact Us
            </a>
			<a href="{% url 'policy' %}" target="_blank" style='margin-left: 1rem; text-decoration: none'>
				<i class="fas fa-shield-alt"></i>Policies
			</a>
			<i class="fas fa-copyright"></i> The Code Builder
		</p>
      </section>
    </div>
   </body>
</html>
