{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Refund Policy</title>
</head>
<body style="text-align: justify; padding: 0 2rem;">
	<h1 style="text-align: center;">
		Refund Policy
	</h1>
	<h3>
		Returns
	</h3>
	<p>
		You agree you will pay for all the products you purchase through our service that may be accrued by or in connection with your account.
	</p>
	<p>
		Your combined price will include the price of the product plus any applicable tax rate that is in effect.
	</p>
	<p>
		All sales and affordable rentals of specific products are final.	
	</p>
	<p>
		Determining prices for the products offered via The Code Builder may voluntarily change at any specified time.
	</p>
	<p>
		In case of an inability on our part to host the specified events you may contact us at the.code.builder0@gmail.com for initiation of refund for the purchase made.
	</p>
</body>
</html>