{% extends 'home/base.html' %}
{% load static %}


{% block content %}
    <div class="alert alert-primary" role="alert" style="width: 60%; margin: auto">
        {{ referral_count }} &nbsp Referrals
    </div>
    <br>

    {% for participant in participants %}
        {% with participant_user=participant.user %}
            <div class="alert alert-primary" role="alert" style="width: 60%; margin: auto">
                {{ participant_user.first_name }} | {{ participant_user.email }}
                | {{ participant.contact_number }}
            </div>
        {% endwith %}
    {% endfor %}
{% endblock %}