
{% load static %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login/Registration</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'home/img/icon.png' %}"/>
  <link rel="stylesheet" href="{% static 'sign_in/style.css' %}">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="main">
      <div class="container b-container" id="b-container">
        <form class="form" id="a-form" method="POST" action="">
          {% csrf_token %}
          <h2 class="form_title title">Create Account</h2>

          {% if signup_error %}
              <div role="alert" style="padding: .5rem 2rem; background-color: #FFCCCB; border-radius: 2rem; ">
                  <strong style="color: red;">{{ signup_error }}</strong>
              </div>
              <br>
           {% endif %}

          <input class="form__input" type="text" name="name" placeholder="Name">
          <input class="form__input" type="Email" name="email" placeholder="Email">
          <br>
          <input class="form__input" type="password" name="password" placeholder="Password">
          <input class="form__input" type="password" name="password-confirmation" placeholder="Confirm Password">
          <br>
          (please add +91 or your country code before your number.)
          <input class="form__input" type="tel" name="contact-no" placeholder="+91XXXXXXXXXX">
          <input class="form__input" type="text" name="referral-code" placeholder="Referral Code (optional)">
          <br>
          <div style="display: block"><input id="accept" name="accept" type="checkbox" value="y" onclick="myFunction()"/>&nbsp&nbsp&nbsp* I have read the <a href = "{% url 'termsAndConditions' %}" style="text-decoration: none">T&C</a></div>
          <button type="submit" id="submitbtn" name="signup" class="button" disabled>SIGN UP</button>
        </form>
      </div>
      <div class="container a-container" id="a-container">
        <form class="form" id="b-form" method="POST" action="">
          {% csrf_token %}
          <h2 class="form_title title">Sign in</h2>
          {% if signin_error %}
              <div role="alert" style="padding: .5rem 2rem; background-color: #FFCCCB; border-radius: 2rem; ">
                <strong style="color: red;">{{ signin_error }}</strong>
              </div>
              <br>
          {% endif %}
          {% if signup_error %}
            <div role="alert" style="padding: .5rem 2rem; background-color: #FFCCCB; border-radius: 2rem; ">
                <strong style="color: red;">{{ signup_error }}</strong>
            </div>
            <br>
          {% endif %}
          <input class="form__input" type="text" name="username" placeholder="Email Id">
          <input class="form__input" type="password" name="password" placeholder="Password"><a class="form__link" href="{% url 'password_reset' %}">Forgot your password?</a>
          <button name="signin" type="submit" class="button">SIGN IN</button>
        </form>
      </div>
      <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container is-hidden" id="switch-c2">
          <h2 class="switch__title title">Welcome Back !</h2>
          <p class="switch__description description">To keep connected with us please login with your personal info</p>
          <button class="switch__button button switch-btn">SIGN IN</button>
        </div>
        <div class="switch__container" id="switch-c1">
            <h2 class="switch__title title">Hello Friend !</h2>
            <p class="switch__description description">Enter your personal details and start your journey with us</p>
            <button class="switch__button button switch-btn">SIGN UP</button>
        </div>
      </div>
    </div>
  
  <script>
    function myFunction() {
      document.getElementById("submitbtn").disabled = false;
    }
  </script>
  <script  src="{% static 'sign_in/function.js' %}"></script>
 
</body>
</html>
