
{% load static %}

<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Confirm Order</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'home/img/icon.png' %}"/>
  <link rel="stylesheet" href="{% static 'sign_in/style.css' %}">
  <style>
    input[type=button], input[type=submit] {
      background-color: #4CAF50;
      border: none;
      border-radius: 2rem;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>
<body>
<div class="main">
      <div class="container a-container" id="a-container">
        <form class="form" id="a-form" action="{% url 'payment_status' %}" method="POST"> {% csrf_token %}
          <h2 class="form_title title">Buy Event Pass</h2>
 
          <input class="form__input" type="text" name="name" placeholder="{{ name }}" disabled>
          <input class="form__input" type="text" name="name" placeholder="{{ contact_number }}" disabled>
          <input class="form__input" type="text" name="name" placeholder="{{ email }}" disabled>
          <br>
          <br>
          <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{ data_key }}"
                data-amount="{{ amount }}"
                data-currency="{{ currency }}"
                data-order_id="{{ order_id }}"
                data-buttontext="Pay securely with Razorpay"
                data-name="The Code Builder"
                data-description="Buy Event Pass"
                data-image="{% static 'home/img/payment.png' %}"
                data-prefill.name="{{ name }}"
                data-prefill.email="{{ email }}"
                data-prefill.contact="{{ contact_number }}"
                data-theme.color="#000080"></script>
        </form>
      </div>
      <div class="switch" id="switch-cnt">
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          <img src = "{% static 'home/img/tick.png' %}" style="height: 10rem">
          <h6 class="switch__title title">Confirm Payment</h6>
          <p class="switch__description description">You're one step away from completing the payment!</p>
        </div>
      </div>
    </div>
</body>
</html>